@import url('https://fonts.googleapis.com/css?family=Passion+One');

*{
  margin: 0px;
  padding: 0px;
    font-family: 'Passion One', cursive;
}


h1{
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  padding: 10px;
}

h3{
  border-bottom: 2px solid orange;
  padding: 10px;
  text-transform: uppercase;
  font-weight: bold;
}

 p{
  color: gray;
}


.img{
  text-align: center;
  margin-bottom: 40px;

}


.img h4{
    position: relative;
    top: 50%;
    font-size: 1.8em;
    background: rgba(110, 110, 110, 0.69);
    border-radius: 30px;
    width: 50%;
    margin: auto;
    text-transform: uppercase;
    color: white;
}


#footer{
  background: rgba(0, 104, 150, 0.9);
  margin: auto;
}

#footer p{
  color: black;
  padding: 10px;
  box-sizing: border-box;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.2em;
}






#fondo{
  background: rgba(125, 125, 125, 0.71);
  color: black;

}

.silde{
  margin-bottom: 100px;
}



.blog{
  width: 50%;
  margin: auto;
  text-align: center;
}

.blog h5{
  font-size: 2.7em;
  color: black;
}


h5{
  color: orange;
}
